@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Newtonsoft.Json;
<script>
    $(document).ready(function () {
        var model = @Html.Raw(JsonConvert.SerializeObject(ViewBag.model));
        $('#type-lesson').val(model.LessonId);

    });
    $(function () {
        $('#add-document').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var title  = $('#title').val();
            var lessonId = $('#type-lesson').val();
            var audio = $('#link-audio').val();
            var image = $('#link-image').val();
            var id = $('#id-document').val();
            var data = {Title : title, LessonId : lessonId, Audio : audio, Image: image,Id : id};
            $.ajax({
                url: "/Document/CreateDocument",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.data > 0) {
                        var url = window.location.protocol + "//" + window.location.host + '/Document/Index'
                        location.href = url;
                    } else {
                        alert('Gặp lỗi trong quá trình lưu');
                    }
                }
            });
        });
    });
    function uploadFiles(inputId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        $.ajax(
            {
                url: "/TestDetail/UploadFiles",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    $('#link-image').val(data.fileName);

                    $("#view-image").attr("src", data.fileName)
                    alert("Files Uploaded!");
                }
            }
        );
    }
    function uploadAudio(inputId) {
        let input = document.getElementById(inputId);
        var audios = input.files;
        var formData = new FormData();
        for (var i = 0; i != audios.length; i++) {
            formData.append("audios", audios[i]);
        }

        $.ajax(
            {
                url: "/TestDetail/UploadAudio",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    $('#link-audio').val(data.fileName);
                    var $radios = $('input:radio[name=optradio]');
                    var audio = document.getElementById('view-audio');
                    audio.src = data.fileName;
                    audio.load();
                    alert("Files Uploaded!");
                }
            }
        );
    }
</script>
<div class="container">
    <div class="row" style="margin-top: 200px">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <label>Thông tin bài học</label>
            <table class="table table-bordered">
                <tr class="hidden">
                    <td>Id</td>
                    <td><input class="form-control" type="text" value="@ViewBag.model.Id" id="id-document" /></td>
                </tr>
                <tr>
                    <td>Lesson</td>
                    <td>
                        <select id="type-lesson" class="form-control">
                            <option value="">Lựa chọn loại học</option>
                            @foreach (var x in ViewBag.lesson)
                            {
                                <option value="@x.Id">@x.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td><input class="form-control" type="text" value="@ViewBag.model.Title" id="title" /></td>
                </tr>
                <tr>
                    <td><span>Audio</span></td>
                    <td>
                        <input class="form-control" value="@ViewBag.model.Audio" id="link-audio" />
                        <audio controls autoplay>
                            <source src="@ViewBag.model.Audio" id="view-audio" type="audio/ogg">
                            Your browser does not support the audio element.
                        </audio>
                        <form id="form-audio" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                            <div class="buttons">
                                <div class="upload-button">
                                    <div class="label">Click me!</div>
                                    <input id="link_audio" name="link_audio" type="file" size="1" multiple onchange="uploadAudio('link_audio');" />
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td><span>Image</span></td>
                    <td>
                        <input class="form-control" value="@ViewBag.model.Image" id="link-image" />
                        <img id="view-image" src="@ViewBag.model.Image" width="300" height="300" />
                        <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                            <div class="buttons">
                                <div class="upload-button">
                                    <div class="label">Click me!</div>
                                    <input id="files" name="files" type="file" size="1" multiple onchange="uploadFiles('files');" />
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td><span class="btn btn-primary" id="add-document">Lưu</span></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
