@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json;
<script>
   function onStart (id) {
        var url = window.location.protocol + "//" + window.location.host + '/Part/Part1?id='+id;
        location.href = url;
    }

</script>
<div class = "row">
    <p class ="text-center" style="font-size: 30px; margin-top: 100px;">
        Course: @Context.Session.GetString("TypeCourse")
    </p>
    <div class="progress" style="width: 700px;height: 50px;margin-top: 10px;margin-left: 300px;">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewBag.Process" aria-valuemin="0" aria-valuemax="100" style="width:@(ViewBag.Process)%; font-size: 20px; color : black;">
            @(ViewBag.Process)% Complete (success)
        </div>
    </div>
    <p class ="text-center" style="font-size: 30px; margin-top: 100px;">
        Course: @Context.Session.GetString("TypeCourse")
    </p>
    <p class="text-center" style="font-size: 30px; margin-top: 200px;">
        Module 2: Intermediate<br/>
        Unit: @ViewBag.unit.Name<br />
        Lesson: @ViewBag.lesson.Name<br />
        <button class="btn btn-sucsess" style="font-size : 20px" onclick="onStart(@ViewBag.idTest)">@ViewBag.btnLable</button>
    </p>
</div>
<script src="~/js/home/homecontroller.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>