@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    function addTestDetail(id) {
        debugger;
        var url = window.location.protocol + "//" + window.location.host + '/TestDetail/Create?id=' + id;
        location.href = url;
    }
    var curentImage ;
    function onOpenPoup(){
        debugger;
        $('#form-upload-image').modal('show');
        //curentImage = $(elememt);
        //var code = curentImage.closest('tr').find('#hndcode').val();
        //$('#current-code').val(code);
    }
    function uploadImage(){
        var uploadFile = $('#upload-image').get(0);
        var files = uploadFile.files;
        var fileData = new FormData();
        var code = $('#current-code').val();
        for(var i= 0 ;i<files.length ;i ++){
            fileData.append(code,files[i]);
        }
        $.ajax({
            url: 'TestDetail/UplaodImage',
            type: 'POST',
            data: fileData,
            processData : false,
            contentType : false,
            success : function(result){
                if(result == 'pass'){
                    alert('Success');
                }
            },
            error : function(){

            }
        })
    }
    function deleteTest(id) {
        if (confirm("Bạn có chắc muốn xóa câu hỏi này!") == true) {
            $.ajax({
                url: "/TestDetail/DeleteTest",
                type: "Post",
                data: { id: id },
                success: function (result) {
                    if (result.data) {
                        var url = window.location.protocol + "//" + window.location.host + '/TestDetail/Index';
                        location.href = url;
                    }
                }
            });
        }
    }
</script>

<div class="row" style="margin-bottom: 100px;">
    <div class="col-md-12" style="margin-top: 10px">
        <table>
            <tr>
                <td width="70%"><span style="font-size: 20px; font-weight: 600">Danh sách câu hỏi</span></td>
                <td>
                    <div class="input-group mb-3">
                        <button class="btn btn-primary" onclick="addTestDetail(0)">Thêm mới <i class="fa fa-plus" aria-hidden="true"></i></button> &emsp;
                        <input type="text" class="form-control" placeholder="search quesion" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        </table>
        <hr/>
        <div>
            <table>
                <tr>
                    <td><b>Page</b></td>
                    <td>
                        <select class="form-control" id="pading-list">
                            <option selected value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="-1">ALL</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table>
                @foreach (var i in ViewBag.lst)
                {

                    <tr>
                        <td width="50%">
                            <p>
                                <u>@i.NameLesson / Quesion @i.Order </u><span class="btn btn-link" onclick="addTestDetail(@i.Id)" title="Edit info"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span class="btn text-danger" onclick="deleteTest(@i.Id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            </p>
                            <p>Title : @i.Title</p>
                            <p>
                                A : @i.AnswerA <br/>
                                B : @i.AnswerB <br/>
                                C : @i.AnswerC <br />
                                D : @i.AnswerD <br />
                            </p>
                            <p>
                                Answer @i.CorrectAnswer <br/>
                                Description : @i.Description
                            </p>
                        </td>
                        <td>
                            <div col-md-6>
                                <img src="@i.LinkImage" width="100" height="100" />
                            </div>
                            <div class="col-md-6">
                                <audio controls>
                                    <source src="@i.Audio" type="audio/ogg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                            
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

